<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>

	<link rel="stylesheet" type="text/css" href="bootstrap.umin.css">

	<style type="text/css">
		
#maindiv {
  position: relative;
  padding: 3%;
  border: #bfc4be 13px solid;
}
	</style>

	

</head>
<body>
<div id="maindiv" class="container">
	
	<div class="row">

	<div id="test1" class="h1 text-info">
		test1
	</div>

	</div>


	<div class="row">
		
	
	<div id="test2">
		<span :class="name3"> {{ name }} </span>
		<br>
		<span class="h1">List</span>
		<br>
		<div id="test6">
			
		</div>
		<br>
		<div id="test7" class="mark">
		<div v-for="things in list" v-text="things"></div>
		<br>
		
		</div>
		<div v-for=" (somethings , index ) in list4" :key="index">{{ list }}</div>
		<br>
		<input type="text" :value="textval">
		<div  @click="list4.push({})" :class="box" :style="whiteroselight">
			
			{{ keyname }}
		</div>
		<br>

		<div v-for:="things in list2" :="things">{{ things.cake }}</div>
		<br>
		<div id="test3" v-for:="things in list3"> {{ things.cake }} </div>
		<br>
		<div id="test4" v-if="thisistrue"> {{ name }} </div>
		<br>
		<nav id="test5" class="mark h1" :style="whiterose">
			<a v-for:="num in 10" :style="limegreen"> {{ num }} </a>
		</nav>

	</div>

	</div>

	</div>
	


	

	<!-- <script src="https://unpkg.com/vue@3.0.2/dist/vue.global.js"></script> -->
	<script src="vue3.0.2.global.js"></script>
	<script src="js.js"></script>


</body>
</html>